<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">


	<aop:aspectj-autoproxy />

	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.zhang">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven />
	<!-- mvc view -->
	<mvc:view-resolvers>
		<bean id="freemarkerViewResolver"
			class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
			<property name="prefix" value="" />
			<property name="suffix" value=".ftl" />
			<property name="cache" value="false" />
			<property name="contentType" value="text/html; charset=UTF-8" />
			<property name="exposeRequestAttributes" value="false" />
			<property name="exposeSessionAttributes" value="false" />
			<property name="exposeSpringMacroHelpers" value="true" />
		</bean>
	</mvc:view-resolvers>
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="classic_compatible">true</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
			</props>
		</property>
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
				<entry key="webRoot" value="/bh"></entry>
				<entry key="staticRoot" value="/bh/static"></entry>
			</map>
		</property>
	</bean>
</beans> 
