<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.dao.EmailRssMapper" >
  <resultMap id="BaseResultMap" type="com.zhang.model.EmailRss" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email_id" property="emailId" jdbcType="INTEGER" />
    <result column="rss_id" property="rssId" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, email_id, rss_id, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from email_rss
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByEmail" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from email_rss
    where email_id = #{email_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from email_rss
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhang.model.EmailRss" >
    insert into email_rss (id, email_id, rss_id, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{emailId,jdbcType=INTEGER}, #{rssId,jdbcType=INTEGER}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhang.model.EmailRss" >
    insert into email_rss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="emailId != null" >
        email_id,
      </if>
      <if test="rssId != null" >
        rss_id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="emailId != null" >
        #{emailId,jdbcType=INTEGER},
      </if>
      <if test="rssId != null" >
        #{rssId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhang.model.EmailRss" >
    update email_rss
    <set >
      <if test="emailId != null" >
        email_id = #{emailId,jdbcType=INTEGER},
      </if>
      <if test="rssId != null" >
        rss_id = #{rssId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhang.model.EmailRss" >
    update email_rss
    set email_id = #{emailId,jdbcType=INTEGER},
      rss_id = #{rssId,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>